In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pickle
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = pd.read_csv("players_22-1.csv")

In [4]:
data.head()

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,...,50+3,50+3,50+3,61+3,19+3,https://cdn.sofifa.net/players/158/023/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,https://cdn.sofifa.net/teams/1369/60.png,https://cdn.sofifa.net/flags/ar.png
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,...,60+3,60+3,60+3,61+3,19+3,https://cdn.sofifa.net/players/188/545/22_120.png,https://cdn.sofifa.net/teams/21/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1353/60.png,https://cdn.sofifa.net/flags/pl.png
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,...,53+3,53+3,53+3,60+3,20+3,https://cdn.sofifa.net/players/020/801/22_120.png,https://cdn.sofifa.net/teams/11/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1354/60.png,https://cdn.sofifa.net/flags/pt.png
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,...,50+3,50+3,50+3,62+3,20+3,https://cdn.sofifa.net/players/190/871/22_120.png,https://cdn.sofifa.net/teams/73/60.png,https://cdn.sofifa.net/flags/fr.png,NaN,https://cdn.sofifa.net/flags/br.png
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,...,69+3,69+3,69+3,75+3,21+3,https://cdn.sofifa.net/players/192/985/22_120.png,https://cdn.sofifa.net/teams/10/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1325/60.png,https://cdn.sofifa.net/flags/be.png

In [7]:
cols_required = ["value_eur", "age",	"potential",	"wage_eur",	"movement_reactions",	"defending",	"mentality_composure",	"skill_ball_control", "overall"]

In [9]:
df = data[cols_required]

In [10]:
df.head()

,value_eur,age,potential,wage_eur,movement_reactions,defending,mentality_composure,skill_ball_control,overall
0,78000000.0,34,93,320000.0,94,34.0,96,96,93
1,119500000.0,32,92,270000.0,93,44.0,88,88,92
2,45000000.0,36,91,270000.0,94,34.0,95,88,91
3,129000000.0,29,91,270000.0,89,37.0,93,95,91
4,125500000.0,30,91,350000.0,91,64.0,89,91,91

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   value_eur            19165 non-null  float64
 1   age                  19239 non-null  int64
 2   potential            19239 non-null  int64
 3   wage_eur             19178 non-null  float64
 4   movement_reactions   19239 non-null  int64
 5   defending            17107 non-null  float64
 6   mentality_composure  19239 non-null  int64
 7   skill_ball_control   19239 non-null  int64
 8   overall              19239 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 1.3 MB

In [12]:
df.dropna(inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17041 entries, 0 to 19238
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   value_eur            17041 non-null  float64
 1   age                  17041 non-null  int64
 2   potential            17041 non-null  int64
 3   wage_eur             17041 non-null  float64
 4   movement_reactions   17041 non-null  int64
 5   defending            17041 non-null  float64
 6   mentality_composure  17041 non-null  int64
 7   skill_ball_control   17041 non-null  int64
 8   overall              17041 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 1.3 MB

In [14]:
y = df['overall']

X = df.drop(columns='overall')

In [17]:
# Load the trained Random Forest model
with open('random_forest_model.pkl', 'rb') as model_file:
    loaded_model = pickle.load(model_file)

# Load the fitted MinMaxScaler
with open('minmax_scaler.pkl', 'rb') as scaler_file:
    loaded_scaler = pickle.load(scaler_file)

# Scale the new data using the loaded MinMaxScaler
X_norm = loaded_scaler.transform(X)

# Use the loaded model to make predictions
predictions = loaded_model.predict(X_norm)

# Add predictions to the new data DataFrame
df['Predicted'] = predictions

In [18]:
df.head()

,value_eur,age,potential,wage_eur,movement_reactions,defending,mentality_composure,skill_ball_control,overall,Predicted
0,78000000.0,34,93,320000.0,94,34.0,96,96,93,92.70
1,119500000.0,32,92,270000.0,93,44.0,88,88,92,91.72
2,45000000.0,36,91,270000.0,94,34.0,95,88,91,90.82
3,129000000.0,29,91,270000.0,89,37.0,93,95,91,91.00
4,125500000.0,30,91,350000.0,91,64.0,89,91,91,90.89